.movie {
	display: inline-block;
	width: 300px;
	height: 200px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.movie .buttom {
	padding: 14px;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.movie .name {
	font-size: 26px;
	font-weight: bold;
	margin-right: auto;
}

.movie .expansion {
	background-color: black;
	padding: 12px;
	box-sizing: border-box;
	height: 0;
	overflow: hidden;
	transition: height 300ms;
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
}

.movie:hover .expansion {
	height: auto;
	display: flex;
}

.movie .expansion .info {
	margin-right: auto;
}
